.description {
    display: flex;
    margin: 90px 0;

    &__text-wrapper {
        min-width: 325px;
        width: 385px;
        margin: 0 60px;
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    &__headline {
        text-transform: capitalize;
        line-height: 44px;
    }

    &__image-wrapper {
        height: 590px;
    }

    &__image {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
}