.slideOutDown {
    animation-name: slideOutDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform: translateY(-100%);
    opacity: 0;
}
  
@keyframes slideOutDown {
    0% {
        transform: translateY(-100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}
  
.slideOutUp {
    animation-name: slideOutUp;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform: translateY(100%);
    opacity: 0;
}

@keyframes slideOutUp {
    0% {
        transform: translateY(100%);
        opacity: 0;
    }
    100% {
        transform: translateY(0);
        opacity: 1;
    }
}

  
.slideBackDown {
    animation-name: slideBackDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes slideBackDown {
    0% {
        transform: translateY(0);
        opacity: 1;
    }
    100% {
        transform: translateY(100%);
        opacity: 0;
    }
}

.slideDown {
    animation-name: slideDown;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
}

@keyframes slideDown {
    0% {
        transform: translateY(0);
    }
    100% {
        transform: translateY(100%);
    }
}

.slideOutLeft {
    animation-name: slideOutLeft;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform: translateX(100%);
    opacity: 0;
}

@keyframes slideOutLeft {
    0% {
        transform: translateX(100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideOutRight {
    animation-name: slideOutRight;
    animation-duration: 1s;
    animation-fill-mode: both;
    animation-timing-function: ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
}

@keyframes slideOutRight {
    0% {
        transform: translateX(-100%);
        opacity: 0;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

.slideBackRight {
    animation-name: slideBackRight;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
    transform: translateX(0);
    opacity: 1;
}

@keyframes slideBackRight {
    0% {
        transform: translateX(0);
        opacity: 1;
    }
    100% {
        transform: translateX(100%);
        opacity: 0;
    }
}

.scaling {
    animation-name: scaling;
    animation-fill-mode: both;
    animation-duration: 1s;
    animation-timing-function: ease-in-out;
}

@keyframes scaling {
    0% {
        width: 0%;
        height: 0%;
        opacity: 0;
    }
    25% {
        opacity: 1;
        height: 25%;
        width: 25%;
    }
    50% {
        height: 25%;
        width: 100%;
    }
    100% {
        height: 100%;
        width: 100%;
    }
}

.obscuration {
    animation-name: obscuration;
    animation-fill-mode: both;
    animation-delay: .5s;
    animation-duration: 0.5s;
    animation-timing-function: ease-in-out;
}

@keyframes obscuration {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.delay00 {
    animation-delay: 0s;
}

.delay02 {
    animation-delay: .2s;
}

.delay04 {
    animation-delay: .4s;
}

.delay06 {
    animation-delay: .6s;
}

.delay08 {
    animation-delay: .8s;
}

.delay10 {
    animation-delay: 1s;
}

.delay12 {
    animation-delay: 1.2s;
}