@font-face {
    font-family: 'Halvar Breitschrift';
    src: url('./assets/fonts/HalvarBreit-Lt.ttf');
}

.body {
    margin: 0;
    width: 100vw;
    min-height: 100vh;
    height: 100%;
    display: flex;
    justify-content: center;
    font-family: 'Halvar Breitschrift';
    overflow-x: hidden;
    box-sizing: border-box;
}

#root {
    width: 1280px;
    margin: 0 15px;
    display: flex;
    justify-content: center;
    min-height: 100%;
    height: 100%;
    height: auto; 
}